@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
:root {
  font: 14px / 1 sans-serif;
  color: rgb(92, 98, 104);
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(249, 250, 254);
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(253, 254, 254, 0.7);
  border-bottom: 0.1rem solid rgb(212, 213, 214);
  box-shadow: 0 0.5rem 0.5rem rgb(239, 240, 242, 0.3);
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  max-height: 5rem;
}

a:link, a:visited {
  text-decoration: none;
  color: rgb(78, 85, 94);
}

ul {
  list-style: none;
}

li+li {
  margin-left: 1rem;
}

.octodex-title {
  font-size: 1.2rem;
  margin-left: 0;
  padding-right: 0.5rem;
  font-weight: bold;
}

.octodex-title a:hover {
  text-decoration: none;
}

.left-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
}

.right-nav ul {
  display: flex;
  flex-direction: row;
  padding-right: 2rem;
  padding-top: 1.2rem;
}

main {
  padding-top: 7.5rem;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}

article {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

.card-info ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0rem;
}

.content-image {
  border: 0.1rem solid rgb(221, 224, 229);
  border-radius: 0.7rem;
  background-color: rgb(255, 255, 255);
  max-width: 400px;
  max-height: 400px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
}

footer p {
  padding-bottom: 3rem;
  padding-top: 0.5rem;
  margin-left: 1.5rem;
}

footer div {
  border-top: 0.1rem solid rgb(226, 228, 232);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

strong {
  color: rgb(73, 81, 92);
}

strong:hover {
  color: rgb(41, 104, 207);
}

a:hover {
  text-decoration: underline;
}

.back-to-git {
  display: none;
}

.cardTitle {
  padding-left: .2rem;
}

.authorImages2 {
  padding-left: .1rem;
}

@media (max-width: 500px) {
  .content-image img {
    width: 100%;
    height: 100%;
  }
  article {
    width: 90%;
    height: 90%;
  }
}

@media (min-width: 501px) {
  article {
    padding-left: 3rem;
  }
  main {
    max-width: 2000px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .back-to-git {
    display: block;
  }
}

@media (min-width: 502px) and (max-width: 1029px) {
  article {
    width: 30%;
    height: 30%;
  }
  .content-image img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1030px) and (max-width: 1399px) {
  article {
    width: 25%;
    height: 25%;
  }
  .content-image img {
    width: 100%;
    height: 100%;
  }
  article:first-child {
    padding-left: 0;
  }
  article:nth-child(4) {
    padding-left: 0;
  }
  article:nth-child(7) {
    padding-left: 0;
  }
  article:nth-child(10) {
    padding-left: 0;
  }
}

@media (min-width: 1400px) {
  article {
    width: 20%;
    height: 20%;
  }
  .content-image img {
    width: 100%;
    height: 100%;
  }
  article:first-child {
    padding-left: 0;
  }
  article:nth-child(5) {
    padding-left: 0;
  }
  article:nth-child(9) {
    padding-left: 0;
  }
}